*{
				padding: 0;
				margin: 0;
			}	
			img {
			  vertical-align: middle;
			}
			.menu{
				line-height: 60px;
				padding: 10px;
				margin: auto;
				background-color: rgba(112,69,53,1.00);
				color: aliceblue;
				}
				.menu>ul {
			    line-height: 40px;
			    margin-left: 200px;
			    padding: 0;
			    text-align:center;
			}
			
				.menu li {
			  display: inline-block;
			  margin-right: 60px;
			  width: 100px;
			  height: 40px;
			  /* Other style properties */
			  box-shadow: none; /* First clear the original border style of the li tag */
			}
				.menu li a {
			  		color: aliceblue;
					text-decoration: none;
			}
				.menu li:hover {
			  box-shadow: inset 0 0 0 1px #ffffff, /* Inner white dotted border */
			              inset 0 0 0 1px #000000; /* Outer black solid border */
			}
				.no-boxshadow:hover{
				box-shadow:0 0 0 transparent!important;
			} 
			
			/* Mouseover style */
			.search-box:hover input[type="text"] {
			  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
			}
			
			.search-box:hover button i {
			  color: #333;
			}
			/*Drop-down menu*/
			
			.menu li:hover .droplist{
			            display: block;  
			        }
			.changeColor{
				text-align: center;
				font-family: 宋体;
				font-size: 24px;
				font-weight:900;
				line-height:80px;
				background-color:rgba(229,198,174,1.00);
			}
			
			/*index*/
			.indexGrid{
				display: grid;
				grid-template-columns: 30% 30%;
				justify-content: center;
				background-color:rgba(229,198,174,1.00);
				padding-bottom: 60px;
			}
			.indexGrid>div{
				overflow: hidden;
			}
			.indexGrid>div:hover img{
				transform: scale(1.2)
			}
			.indexGrid>div img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: transform 0.3s ease-out;
				
			}
			/*text scroll*/
			.scrollbox {
			  overflow: hidden;
			  position: relative;
			  background-color: rgba(166, 135, 64, 1.00);
			}
			
			.content {
			  position: absolute;
			  top: 50%;
			  animation: scrollup 4s linear infinite forwards;
			}
			@keyframes scrollup {
			  from {
			    transform: translateY(0);
			  }
			  to {
			    transform: translateY(-100%);
			  }
			}
			/*end of scroll*/
			
			.gridBottom{
				display:grid;
				justify-content: center;
				grid-template-columns: 20% 20% 20%;
				gap:60px;
				background-color: rgba(112,69,53,1.00);
			}
			.gridBottom>div{
				overflow: hidden;
			}
			.gridBottom>div img{
				width: 100%;
				transition:transform 0.3s ease-out;
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
			.bottom{
				background-color: #ccb562;
			}