*{
				padding: 0;
				margin: 0;
			}	
			img {
			  vertical-align: middle;
			}
			
			.menu{
					line-height: 60px;
					padding: 10px;
					margin: auto;
					background-color: rgba(112,69,53,1.00);
					color: aliceblue;
				}
				.menu>ul {
			    line-height: 40px;
			    margin-left: 200px;
			    padding: 0;
			    text-align:center;
			}
			
				.menu li {
			  display: inline-block;
			  margin-right: 60px;
			  width: 100px;
			  height: 40px;
			  /* 其他样式属性 */
			  box-shadow: none; /* 首先将 li 标签原有的边框样式清除 */
			}
				.menu li a {
			  		color: aliceblue;
					text-decoration: none;
			}
				.menu li:hover {
			 
			  box-shadow: inset 0 0 0 1px #ffffff, /* 内层白色虚线边框 */
			              inset 0 0 0 1px #000000; /* 外层黑色实线边框 */
			}
				.no-boxshadow:hover{
				box-shadow:0 0 0 transparent!important;
			} 
			
			
			/* 鼠标悬停样式 */
			.search-box:hover input[type="text"] {
			  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
			}
			
			.search-box:hover button i {
			  color: #333;
			}
			/*下拉菜单*/
			
			.menu li:hover .droplist{
			            display: block;  
			        }

			/*文字滚动*/
			.scrollbox {
			  overflow: hidden;
			  position: relative;
			  background-color: rgba(166, 135, 64, 1.00);
			}
			
			.content {
			  position: absolute;
			  
			
			  top: 50%;
			  animation: scrollup 4s linear infinite forwards;
			}
			@keyframes scrollup {
			  from {
			    transform: translateY(0);
			  }
			  to {
			    transform: translateY(-100%);
			  }
			}
			
			/*滚动结束*/
			
			.container {
			  position: relative;
			}
			
			.container img {
			  display: block;
			 width:100%;
			  height: auto;
			}
			/*图片蒙板*/
			.mask {
			  position: absolute;
			  top: 0;
			  left: 0;
			  width:100%;
			  height: 100%;
			  background-color: rgba(0, 0, 0, 0.5);
			  visibility: hidden;
			  opacity: 0;
			  transition: visibility 0s, opacity 0.5s ease-in-out;
			}
			
			.container:hover .mask {
			  visibility: visible;
			  opacity: 1;
			}
			.mask p {
			  color: #fff;
			  font-size: 1.2rem;
			  text-align: center;
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			}

			/*图片从左边滑出文字介绍*/
			.img-container {
			    position: relative;
			    overflow: hidden;
			}
			
			.intro-container {
			  position: absolute;
			  left: 0; /* 初始位置为图片左侧 */
			  bottom: 0;
			  background-color: rgba(0, 0, 0, 0.8);
			  color: #fff;
			  z-index: 0;
			  width: 100%;
			 height: 30%;
			  transform: translateX(-100%); /* 初始不可见，向左平移100% */
			   transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out; /* 添加 transition 属性 */
			  opacity: 0;
			  overflow: hidden;
			}
			
			.img-container:hover .intro-container {
			  transform: translateX(0); /* 鼠标悬停时，向右平移100% */
			  opacity: 1;
			}
			
			/*图片从下边滑出文字介绍*/
			.img-container2 {
			    position: relative;
			    overflow: hidden;
			}
			
			.intro-container2 {
			  position: absolute;
			  bottom: 0;
			  background-color: rgba(0, 0, 0, 0.8);
			  color: #fff;
			  width: 100%;
				height: 40%;
			  transform: translateY(100%); /* 初始不可见，向下平移100% */
			   transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out; /* 添加 transition 属性 */
			  opacity: 0;
			  overflow: hidden;
			}
			
			.img-container2:hover .intro-container2 {
			  transform: translateY(0); /* 鼠标悬停时，向右平移100% */
			  opacity: 1;
			}
			.grid1{
				padding-bottom: 160px;
			}
			.grid1>div{
				overflow: hidden;
			}
			.grid1>div img{
			width: 100%;
				height: 100%;
				object-fit: cover;
			}
			.bottom{
				background-color: #ccb562;
			}